<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" 
          content="width=device-width,initial-scale=1">
		<title>About</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<h1>About Jake</h1>
		<p>
      I am 32 years old, and having second thoughts 
      about going on 33. 
      <p>
        I am unsure if I like the idea of getting 
        old so I will be working hard to stay off 
        as much old age as possible.
      </p> 
    </p>
	</body>

</html>
