<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" 
          content="width=device-width,initial-scale=1">
		<title>Blue</title>
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body style="background-color: blue;">
		<h1>Blue Stuff</h1>
		<p>
      Blue is best color and Red is worst color
    </p>
    <p>
      Red is not better so I wrote this poem... 
      <p>Because nothing ever started with</p> 
      <p>Violets are Red Beacuse Red means dead.</p> 
      <p>The End</p>
    </p>
	</body>

</html>
